data_for_paper/plot_rank.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/v1finaltest_6450case20251016_effect[[:space:]]of[[:space:]]dimension.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_APTRF_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_APTRF_new.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_dimension_new.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n10d4_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables1_3_Mosek_222_435_6410.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n6d4_oneHIP_AP.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_pureHIP_HIPswitch_4_10_7_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables11_13_all filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n3d4_new.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_pureHIP_HIPswitch_10_4_20.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n6d4_coeffs.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_pureHIP_HIPswitch_10_4_20_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_rank_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_dimension_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_dimension.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n10d4_new.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n3d4_coeff.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables1_3_pureHIP_HIPswitch_6450.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/20250409v3_effect[[:space:]]of[[:space:]]rank.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/3case20250415_effect[[:space:]]of[[:space:]]dimension.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n10d4.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n6d4_oneHIP.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_pureHIP_HIPswitch_4_10_7.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables1_3_pureHIP_HIPswitch_10420.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables4_7_all.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/20250918_effect[[:space:]]of[[:space:]]low[[:space:]]rank_extimes10.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_APTRF.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables1_3_Mosek_6450.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/1case20250416_effect_of_dimension.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/20250918v1_effect[[:space:]]of[[:space:]]rank.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/20250923_effect[[:space:]]of[[:space:]]low[[:space:]]rank_extimes10.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/plot_n3d4.npz filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables1_3_pureHIP_HIPswitch_222_435_6410.h5 filter=lfs diff=lfs merge=lfs -text
data_for_paper/Tables8_10_all filter=lfs diff=lfs merge=lfs -text
